Solution/CnpjBizIntegrator/src/Workflows/CnpjBiz_API-Reques-77E8E2D1-A1F7-EC11-BB3D-000D3A578B4D.json
{
  "properties": {
    "connectionReferences": {},
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "7e7cf1d5-15d5-4edd-b911-7aec92461d20"
          },
          "type": "Request",
          "kind": "Http",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string"
                },
                "properties": {
                  "type": "object",
                  "properties": {
                    "cnpj": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string"
                        }
                      }
                    },
                    "Biz_key": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "actions": {
        "Try": {
          "actions": {
            "HTTP": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "8afe293f-12e6-4c70-a53e-d923628a3634"
              },
              "type": "Http",
              "inputs": {
                "method": "POST",
                "uri": "https://cnpj.biz/api/v2/empresas/cnpj",
                "headers": {
                  "Content-Type": "application/json",
                  "Accept": "application/json",
                  "authorization": "Bearer @{triggerBody()?['Biz_key']}"
                },
                "body": {
                  "cnpj": "@triggerBody()?['cnpj']"
                },
                "retryPolicy": {
                  "type": "none"
                }
              }
            },
            "Set_variable": {
              "runAfter": {
                "HTTP": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "3f1b6415-b3b4-4dfc-a108-49e2e8092503"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "body",
                "value": "@body('HTTP')"
              }
            },
            "Resposta": {
              "runAfter": {
                "Set_variable": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "2378eeed-a092-4e05-954f-78be12bd65d4"
              },
              "type": "Response",
              "kind": "Http",
              "inputs": {
                "statusCode": 200,
                "body": "@variables('body')"
              }
            }
          },
          "runAfter": {
            "Inicializar_variável": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "62c208e4-0fa6-4277-ba22-42cf2d7a3f64"
          },
          "type": "Scope"
        },
        "Catch": {
          "actions": {
            "Response": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "c9b307ae-4095-40c6-ab40-471abf206875"
              },
              "type": "Response",
              "kind": "Http",
              "inputs": {
                "statusCode": 500,
                "body": "Este CNPJ é invalido ou não existe na nossa base de dados. Confira e selecione a ação novamente!"
              }
            }
          },
          "runAfter": {
            "Try": [
              "Failed",
              "Skipped"
            ]
          },
          "metadata": {
            "operationMetadataId": "6a41a23b-9581-4d2c-91d6-406438b079b9"
          },
          "type": "Scope"
        },
        "Inicializar_variável": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "fcc586c2-efd2-4236-a4f9-314edadb1460"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "body",
                "type": "object"
              }
            ]
          }
        }
      },
      "outputs": {}
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}